pipeline/pl_setVariable_practise.json
{
	"name": "pl_setVariable_practise",
	"properties": {
		"activities": [
			{
				"name": "ADFName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ADFName",
					"value": {
						"value": "@pipeline().DataFactory",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Pipeline_Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ADFName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "pipeline_RunId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Pipeline_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Pipeline_runId",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "pipeline_RunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_adfpipelinedetails]",
					"storedProcedureParameters": {
						"ADFName": {
							"value": {
								"value": "@variables('ADFName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_runid": {
							"value": {
								"value": "@variables('Pipeline_runId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@variables('PipelineName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlserver_source",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ADFName": {
				"type": "String"
			},
			"PipelineName": {
				"type": "String"
			},
			"Pipeline_runId": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-26T11:33:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}